<footer>
  <p class="small">This project is based on Mr. Gerbear's <a href="http://esc.gerbear.com/">Eurovision Favourites Sorter</a> (itself based on code from <a href="https://web.archive.org/web/20180323161039/http://www.bathkame.me/johnnys.html">bathkame</a>). View source, request features, or report bugs on <a href="https://github.com/diiorio/eurovision-quiz/">GitHub</a>.</p>
</footer>
